<app-navbar></app-navbar>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <!-- Contenido de la primera columna -->
        <ion-card>
          <ion-card-header>
            <ion-icon name="list-outline"  class="ion-align-self-center" color="danger"></ion-icon>
            <ion-label>Tipos  gastos</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="stats-chart-outline" color="danger" class="ion-align-self-center"></ion-icon>
             <ion-label>Presupuesto</ion-label>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="list-outline"  class="ion-align-self-center" color="danger"></ion-icon>
            Tipos de gastos
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-icon name="list-outline"  class="ion-align-self-center" color="danger"></ion-icon>
            Tipos de gastos
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- Agrega más filas y columnas según sea necesario -->
  </ion-grid>
  
</ion-content>
