<app-navbar></app-navbar>
<ion-content [fullscreen]="true" class="ion-no-padding"  >
  <br>

  <div class="canvas"><canvas #myChart></canvas></div>
  <h3>Tu saldo actual $432.00</h3>
  <div class="sub-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ultimos movimientos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="beer-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Nombre del usuario</h2>
              <p>Descripción o información adicional</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="beer-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Nombre del usuario</h2>
              <p>Descripción o información adicional</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="fast-food-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Nombre del usuario</h2>
              <p>Descripción o información adicional</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="bag-handle-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Nombre del usuario</h2>
              <p>Descripción o información adicional</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="fast-food-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Nombre del usuario</h2>
              <p>Descripción o información adicional</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <ion-icon name="bag-handle-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Nombre del usuario</h2>
              <p>Descripción o información adicional</p>
            </ion-label>
          </ion-item>
          <!-- Puedes repetir este patrón para cada item -->
        </ion-list>
        
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
