<ion-buttons slot="start">
  <ion-back-button defaultHref="/">Atras</ion-back-button>
</ion-buttons>
<ion-content [fullscreen]="true" class="ion-padding" color="danger-app"  >
  <div class="container">
    <h1 class="items-center"><span class="logo-f-letter">Fina</span> <span class="logo-l-letter">App</span></h1>
    <img src="../../../../assets/img/login/auth.jpg" class="text-center">  
  </div>
    <ion-grid>
      <ion-col>
        <form [formGroup]="formulario"  (ngSubmit)="login()" > 
          <ion-input  mode="ios" fill="outline" type="text" shape="round" formControlName="usuario">
              <ion-icon slot="start" color="danger" name="person" aria-hidden="true"></ion-icon>
          </ion-input>
          <ion-input mode="ios" fill="outline"  type="password" formControlName="clave" >
            <ion-icon slot="start" color="danger" name="key" aria-hidden="true"></ion-icon>
          </ion-input>
        <ion-button shape="round" fill="solid" type="submit" mode="ios" expand="block" color="danger"> 
          <ion-label>Inciar sesion</ion-label> 
        </ion-button>
        </form>
      </ion-col>
   </ion-grid>


</ion-content>  

