

<ion-content [fullscreen]="true" class="ion-padding">
  <swiper-container 
  #swiper
  (afterinit)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [loop]="false"
  [pagination]="true"
  >
    <swiper-slide >
      <h1 class=""><span class="logo-f-letter">Fina</span> <span class="logo-l-letter">App</span></h1>
      <img src="../../../assets/img/login/inicio.png">
      <p>Llego para ayudarte a controlar tus finanzas</p>
      <!--<ion-button  shape="round"  fill="solid" expand="block" color="danger-app" (click)="avanzar()"  >Continuar</ion-button>-->
      <ion-button shape="round" fill="solid" mode="ios" expand="block" color="danger-app"> 
        <ion-label>Inciar sesion</ion-label> 
      </ion-button>
      <ion-button shape="round" fill="outline" mode="ios" (click)="irRegistro()" expand="block" color="medium"> 
        <ion-label color="dark">Registrarse</ion-label> 
      </ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
