

<ion-content [fullscreen]="true" class="ion-padding ios" mode="ios"  >
  <swiper-container 
  #swiper
  (afterinit)="swiperReady()"
  (slidechange)="swiperSlideChanged($event)"
  [loop]="false"
  [pagination]="true"
  >
    <swiper-slide >
      <h1 class=""><span class="logo-f-letter">Fina</span> <span class="logo-l-letter">App</span></h1>
      <img src="../../../assets/img/login/inicio.png">
      
      <!--<ion-button  shape="round"  fill="solid" expand="block" color="danger-app" (click)="avanzar()"  >Continuar</ion-button>-->
      <ion-button shape="round" fill="solid" (click)="auth()" mode="ios" expand="block" color="danger"> 
        <ion-label>Inciar sesion</ion-label> 
      </ion-button>
      <ion-button shape="round" fill="solid" mode="ios" (click)="irRegistro()" expand="block" color="dark" > 
        <ion-label >Registrarse</ion-label> 
      </ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
