ion-content{
    height: 100vh;
    font-family: 'Roboto Slab', sans-serif;
}
ion-back-button{
    color: var(--ion-color-blue-green-app)
}
ion-content{
    height: 99vh; 
   // --background: #FF725E;
}
.container{
    padding: 10px;
}
.content-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-register{
    height: 30vh;
}

ion-input{
    padding: none;
    margin-top: 10px; 
    border-bottom: 1px solid #c6c6c6; /* Borde inferior gris suave */
    --border-color: transparent; /* Evita el borde en los lados */
    --background: none; /* Fondo transparente */
    --box-shadow: none; /* Sin sombra */
    --color: #333333; /* Color del texto */
}
ion-item{
    border: none !important;;
    margin-top: 10px;
    text-align: center;
}
.text-dark-1{
    color:var(--ion-color-blue-green-app)
}

ion-button{
    width: 99%;
    margin-top: 40px;
}